/* Color Palette Variables */

:root {
    --headings: #b2dbfb;
    --background: #170B1D;
    --accent: #ffe989;
    --text: #ffffff;
    --borders: #aaaaaa;
}

/* Font Family Declarations */

@font-face {
    font-family: inter;
    src: url(./fonts/inter.ttf);
}

/* Global Style Settings */

body {
    background-color: var(--background);
    font-family: inter, Arial, Helvetica, sans-serif;
}

h1 {
    color: var(--headings);
    font-size: clamp(2rem, 3.5vw + 1rem, 3.25rem);
    margin-bottom: 7vh;
}

p {
    color: var(--text);
    font-size: medium;
    /* update this */
}